$blackColor: #232536;
$yellowColor: #FFD050;
$purpleColor: #592EA9;
$darkGreyColor: #4C4C4C;
$mediumGreyColor: #4C4C4C;
$whiteColor: #FFFFFF;
$greyColor: #AFB0B9;
$lightYellowColor: #FBF6EA;
$lavendarColor: #F4F0F8;
$lightGreyColor: #F4F4F4;
$darkBlue: #282938;